@font-face {
    src: url("Anonymous_Pro_B.ttf"),
    /*src: url("1 Minecraft-Regular.otf"),*/
}

.root {
    -fx-focus-color: transparent;
    -fx-font-family: "Anonymous Pro Bold";
    -fx-font-size: 1.2em;
}

.button, #button8Bit, #button16Bit, #button32Bit{
    -fx-background-radius: 10px;
    
    -fx-border-radius: 10px;
    -fx-border-width: 1.5px; 
}


.dock-close-button {
  -fx-graphic: url(cancel.png);
}

.dock-state-button {
  -fx-graphic: url(detachedWindow.png);
}

.text-area {
  -fx-font-size: 15;
  -fx-display-caret:true;
  -fx-text-fill: black;
}


.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:transparent;
}

.tab-header-area{
    -fx-padding: 0;
}

.registersTable .table-row-cell {
  -fx-cell-size: 23px;
}

.tab{
  -fx-border-radius: 5px 5px 0px 0px;
}

.dock-close-button {
  -fx-background-color: #d63031;
  -fx-graphic: url(cancel.png);
}

.dock-close-button:hover {
  -fx-background-color: #e17055;
}

.dock-state-button {
  -fx-background-color: #0984e3;
  -fx-graphic: url(detachedWindow.png);
}

.dock-state-button:hover {
  -fx-background-color: #74b9ff;
}

.table-row-cell:empty {
    -fx-background: #f4f4f4;
    -fx-border-color: #f4f4f4;
}

.table-view {
	-fx-background-color: transparent, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view *.scroll-bar:vertical *.increment-button,
.table-view *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:vertical *.increment-arrow,
.table-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}


.disableButton{
	-fx-background-color: white;
	-fx-text-fill: #2C3E50;
}


.enableButton{
	-fx-background-color: #2C3E50;
	-fx-text-fill: white;
}


