#icon > .label{
  -fx-graphic: url("../images/logoSmall.png");
}

#icon .accelerator-text{
    -fx-graphic: none;
}

#save > .label{
  -fx-graphic: url("../images/save.png");
}

#save .accelerator-text{
    -fx-graphic: none;
}

#run > .label{
  -fx-graphic: url("../images/run.png");
}

#run .accelerator-text{
    -fx-graphic: none;
}

#delete > .label{
  -fx-graphic: url("../images/delete.png");
}

#delete .accelerator-text{
    -fx-graphic: none;
}
